:root {
    --green-background: #86baa1;
    --primary-color: #6d029b;
    --light-grayish-yellow: #edead0;
    --accent-yellow: #ffcf56;
    --white: #fefefe;
    --black: #0d1f22;
    --sm: 1.3rem;
    --md: 1.6rem;
    --lg: 2.0rem;
    --title: 4.8rem;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--green-background);
    color: var(--sm);
    font-family: "Courier Prime", monospace;
    overflow-x: hidden;
}

p {
    color: var(--black);
    line-height: 1.5;
    font-size: var(--md);
    font-style: normal;
    display: block;
    margin: 0;
    width: 100%;
}

h2 { 
    font-size: var(--title);
}

button {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: .8rem;
    border: none;
    font-family: inherit;
    margin: 0;
    padding: 1rem 2rem;
    width: 12rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.welcome-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    row-gap: 2rem;
    margin-top: 5rem;
}

.welcome-game-container {
    width: 80%;
    max-width: 80rem;
}

.welcome-game-container .main-title {
    color: var(--primary-color);
    text-shadow: 2px 2px 2px var(--white);
    font-family: "Cinzel", system-ui;
    font-optical-sizing: auto;
    font-size: 6.4rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.welcome-game-container div {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-game-container div a {
    width: 50%;
}

.info-start-game {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

.info-start-game p {
    padding: 2rem;
    background-color: var(--light-grayish-yellow);
    border-radius: .8rem;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    row-gap: 2rem;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 3rem;
    padding-left: 1.5rem;
    width: 100%;
    max-width: 49.5rem;
}

canvas {
    border: .4rem solid var(--accent-yellow);
    border-radius: .8rem;
    background-color: var(--light-grayish-yellow);
}

.buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.main-button {
    font-size: var(--lg);
    font-weight:40rem;
    padding: 10px 30px;
    width: auto;
}

.main-button:active {
    background-color: #9b69b0;
}

button:not(:last-child) {
    margin-right: 1rem;
}

.messages-container {
    background-color: var(--black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: .4rem solid var(--accent-yellow);
    border-radius: .8rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: .8rem;
    width: 80%;
    max-width: 49.5rem;
    min-height: 6rem;
}

.messages-container #result {
    color: var(--white);
    padding: 1rem;
}

.subtitle {
    max-width: 50rem;
}

.lose-game {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.win-game {
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.emoji-span {
    font-size: 8rem;
}

.info-resume-container {
    background-color: var(--light-grayish-yellow);
    display: flex;
    padding: 2rem;
    border-radius: 1.2rem;
    border: .4rem solid var(--accent-yellow);
}

.info-resume-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-resume-container div:nth-child(1) {
    border-right: 1px solid var(--black);
    padding-right: 1rem;
}

.info-resume-container div:nth-child(2) {
    padding-left: 1rem;
}

.info-resume-container div h3 {
    font-size: 32px;
}

.inactive {
    display: none;
}



@media (max-width: 70rem) {
    .welcome-game {
        width: 100vw;
    }

    .welcome-game-container {
        width: 80%;
    }

    .welcome-game-container div {
        margin: 0 auto;
        margin-top: 2rem;
        width: fit-content;
    }

    .welcome-game-container div img {
        width: 60%;
    }
}

@media (max-width: 47rem) {
    p, button {
        font-size: var(--sm);
    }
    
    .buttons-container {
        gap: 1rem;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }

    .welcome-game-container {
        width: 90%;
    }

    .welcome-game-container .main-title {
        font-size: 4.8rem;
    }

    .welcome-game div {
        flex-direction: column;
    }
    .welcome-game-container div img {
        width: 80%;
    }

    .info-container {
        flex-wrap: wrap;
        width: 80%;
    }
}